body {
  background-image: url(images/fon1.jpg);
  color: #777;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.35;
}
h1{
    font-style: normal;
    letter-spacing: 10px;
    font-family: fantasy;
    font-size: 50px;
    margin-top:  -30px;
    text-align: center;
    color: whitesmoke;
    text-shadow: #fff -1px -1px 0, 
                 #333 1px 1px 0;
}

.page {
  padding: 3em;
  background: #cecece;
  max-width: 1920px;
  border: 1px solid white;
 border-radius: 120px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 260px, 1fr));
  grid-gap: 1.5em;
  grid-auto-flow: dense;
}
.article h3{
    font-style: normal;
    font-family: cursive;
    font-size: 20px;
}
.article {
  padding: 1em;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
    grid-auto-flow: dense;
    border: 1px solid white;
    border-radius: 50px;
}
.article:nth-child(1){
  grid-column: 1 / -3;
}
.article:nth-child(6n):nth-child(even){
    grid-column: 1 / -1;
}
.fblock, .renata, .shnur, .cox, .boy, .pidrila{
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    float: left;
}
.boy, .pidrila{
    width: 65%;
}

.article:nth-child(n+1){
    font-size: 90%;
    font-style: italic;
}
.article:nth-child(6n+1){
    background: rgba(200,200,255,0.3);
    text-align: center;
    color: black;
}
.article:nth-child(5n+3){
    background-color: dimgrey;
    text-align: center;
    color: wheat;
}
.article:nth-child(15n+8){
    background-color: darkgrey;
    color: black;
    text-align: center;
}
.imgblocklast{
    grid-column: 3 / -1;
    float: left;
}
.imgblockfirst{
    grid-column: 1 / 3;
}
@media screen and (max-width: 1000px) {
 .archive {
    display: flex;
    flex-direction: column;
  }
    .article{
        margin-bottom: 40px;
    }
}

